include back
form(action="{{'/api/edit_doc/' + doc._id}}", method='post', enctype='multipart/form-data')
  div
    label(for='name') Name
    input(id='name', type='text', value='', name='name', 
      placeholder='{{doc.name}}')
  div
    label(for='type') Type
    input(id='type', type='text', value='', name='type', 
      placeholder='{{doc.type}}')
  div
    label(for='file') File
    input(id='file', type='file', name='file')
  input(type='submit', value='edit document')
