include back
h3 Name: {{doc.name}}
h3 Type: {{doc.type}}
h3 Linked users to this document:
div(ng-if='linked_users')
  form(action="{{'/api/unlink/' + doc._id}}", method='post')
    div(ng-repeat='user in linked_users').repeat-users
      h4 {{$index + 1}} {{user.name}}: {{user.email}}
      input(type='checkbox', id='{{user._id}}', name='{{user._id}}')
    div
      input(type='submit', value='unlink user')
div(ng-if='linked_message')
  h4 {{linked_message}}
