font-size-normal = 14px
font-size-small = 12px
my_own_green = #71C94C
my_own_red = #610E0E

@font-face
  font-family Vollkorn
  font-style normal
  src url(../fonts/Vollkorn-Regular.ttf)

.main-content
  width 400px
  float left

.msg
  background yellow
  text-align center
  width 200px
  margin-left auto
  margin-right auto

.greetingbox
  border thin solid my_own_red 
  width 400px
  height 25px

.greeting
  padding-top 5px
  font-size 12px
  width 260px
  margin-left auto
  margin-right auto

.ui-accordion
  background-color white

.ui-accordion-content 
.ui-accordion-header 
  background-color #D9

.ui-accordion-header
  margin-top 5px
  border solid thin my_own_red

.ui-accordion-content 
  border solid thin darkgreen
  overflow-y scroll
  padding-left 5px
  padding-right 5px

.clear
  padding-top 5px
  clear both 

.float-left
  float left

.repeat-element-admin
.repeat-element
  border-bottom thin solid darkgreen 
  border-radius 0px
  height 85px
  width 370px
  padding-bottom 5px
  padding-top 0px

.repeat-element-admin
  height 32px

.repeat-element:last-child
  border-bottom none

.greeting > a label
  float left

.greeting > label 
  width 50px
  padding-top 0px

.greeting > a
  height 20px
  margin-right 6px
  background-color my_own_green

form
  width 300px
  margin-left auto
  margin-right auto

input
  float right
  width 180px

.admin
  margin-right 90px!important

input[type=checkbox]
  width 20px
  margin-left auto
  margin-right auto

label
  font-size font-size-normal
  text-align right
  width 102px
  float left
  padding-top 6px

label
input
  height 20px

label
a
  padding-right 5px
  color 

ul
  list-style none   

li
  border thin solid black
  text-align center
  display block
  width 88px
  float left
  background-color my_own_green
  margin 2px

li > a
  text-decoration none
  padding 2px

h4
h3
  margin-top 10px
  padding-left 5px

h2
h3
  text-align center

h4
  font-size font-size-small

body
  color #52
  background-color white

*
  font-family Vollkorn
  border-radius 5px
